﻿html {
    height: 100%;
    font-size: 1.2em;
    background-color: rgba(248, 248, 248, 1.0);
}

    html.unauth {
        background: url("../images/bgImage_porsche.jpg") center center no-repeat fixed;
        background-size: cover;
    }

body {
    background-color: transparent;
    min-height: 100%;
    padding-bottom: 9rem;
    position: relative;
    font-family: 'Varela Round',sans-serif;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg height='130' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='130' fill='rgba(18,70,118, 0.82)'/%3E%3C/svg%3E");
}

.logo-box {
    padding: 1rem 1.2rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0.2em 1em rgba(0,0,0,0.29), 0 0.4em 0.5em rgba(0,0,0,0.33);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 7.5em;
    box-sizing: border-box;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

@media screen and (min-width: 1400px) {
    .logo-box {
        background-size: unset;
    }
}

footer {
    padding-top: 2rem;
    padding-bottom: 0.2rem;
    font-size: 0.8em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(34,34,34,1.0);
    color: rgba(225,225,225, 1.0);
    height: 10em;
}

    footer p {
        margin-bottom: 0.2rem;
    }

    footer a {
        font-size: 1em;
    }

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 480px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

a,
a:link,
a:visited {
    color: rgba(121,184,0, 1.0);
}

.large {
    font-size: 1.1em;
}

div[role=main] {
    padding-top: 1.5rem;
}

    div[role=main].container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

div.row {
    margin-left: 0;
    margin-right: 0;
}

body.dashboard .panel {
    margin-bottom: 1rem;
}

div.panel {
    background-color: rgba(255,255,255,1.0);
    box-shadow: 0 0.2em 1em rgba(0,0,0,0.19), 0 0.4em 0.5em rgba(0,0,0,0.23);
}

    div.panel .panel-body {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.15em;
    }

        div.panel .panel-body #insuranceStatus {
            line-height: 2.3em;
            font-size: 2.0em;
            text-align: center;
            border-radius: 5px;
        }

            div.panel .panel-body #insuranceStatus svg {
                color: rgba(255, 255, 255, 1.0);
            }

            div.panel .panel-body #insuranceStatus .explaination {
                font-size: 0.45em;
                background-color: rgba(255, 255, 255, 0.8);
                color: rgba(0, 0, 0, 1.0);
                text-align: left;
                line-height: 1.45em;
                padding: 0.9rem 0.6rem;
            }

            div.panel .panel-body #insuranceStatus.really-bad {
                background-color: rgba(229,0,0, 1.0);
                color: rgba(255, 255, 255, 1.0);
            }

            div.panel .panel-body #insuranceStatus.bad {
                background-color: rgba(255, 127, 0, 1.0);
                color: rgba(255, 255, 255, 1.0);
            }

    div.panel .main-title {
        background-color: rgba(34, 34, 34, 1.0);
        color: rgba(255, 255, 255, 1.0);
        padding: 1rem 0.6rem;
        margin-top: 0.15rem;
        margin-left: -0.7rem;
        margin-right: -0.7rem;
        border-radius: 4px 4px 0 0;
    }

        div.panel .main-title a {
            font-size: 0.8em;
        }

    div.panel h4.main-title {
        font-size: 1.2em;
    }

#availableCustomerActions div.panel {
    background-color: rgba(250,250,250,1.0);
    box-shadow: unset;
}

div.panel-swbc-blue {
    background-color: rgba(18,70,118,0.82);
    color: rgba(255,255,255,1.0);
    border: solid 2px rgba(18,70,118,1.0);
}

    div.panel-swbc-blue .well {
        color: rgba(0,87,126,1.0);
    }

    div.panel-swbc-blue svg {
        color: rgba(121,184,0, 1.0);
    }

    div.panel-swbc-blue .panel {
        color: rgba(0,0,0, 1.0);
    }

    div.panel-swbc-blue .swbc-panel-title {
        background-color: rgba(34,34,34,1.0);
        text-align: center;
        color: rgba(121,184,0, 1.0);
        padding: 1rem 0.5rem;
        font-size: 2em;
    }

        div.panel-swbc-blue .swbc-panel-title strong {
            color: rgba(255, 255, 255, 1.0);
            border-bottom: solid 1px rgba(121, 184, 0, 1.0);           
        }

        div.panel-swbc-blue .swbc-panel-title .small {
            color: rgba(121,184,0, 1.0);
        }

div.panel-swbc-blue-outline {
    background-color: rgba(18,70,118,0.20);
    border: solid 2px rgba(18,70,118,1.0);
}

    div.panel-swbc-blue-outline .swbc-panel-title {
        background-color: rgba(121,184,0, 1.0);
        text-align: center;
        color: rgba(34,34,34,1.0);
        padding: 1rem 0.5rem;
        font-size: 2em;
    }

        div.panel-swbc-blue-outline .swbc-panel-title strong {
            color: rgba(255, 255, 255, 1.0);
            border-bottom: solid 1px rgba(34,34,34,1.0);
        }

        div.panel-swbc-blue-outline .swbc-panel-title .small {
            color: rgba(34,34,34,1.0);
        }

        div.panel-swbc-blue-outline .swbc-panel-title svg {
            color: rgba(34,34,34,1.0);
        }

div[class*=col] ~ div.panel-swbc-blue-outline {
    border-left: none;
}

.text-swbc-green {
    color: rgba(121,184,0, 1.0) !important;
}

.disclaimer {
    background-color: rgba(240, 240, 240, 1.0);
    padding: 0.8rem;
}

.well.well-sm {
    line-height: 2em;
    font-size: 1em;
}

.form-group {
    margin-bottom: 0.2rem;
}

input.form-control,
input.form-control:focus {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: none;
    color: rgba(0, 0, 0, 1.0);
    -webkit-transition: border-bottom-width 300ms;
    -moz-transition: border-bottom-width 300ms;
    transition: border-bottom-width 300ms
}

    input.form-control:focus {
        border-bottom-color: rgba(121,184,0, 1.0);
        border-bottom-width: 2px;
        -webkit-transition: border-bottom-width 300ms;
        -moz-transition: border-bottom-width 300ms;
        transition: border-bottom-width 300ms
    }

.input-label {
    position: relative;
    pointer-events: none;
    left: 0.5em;
    bottom: 2em;
    color: rgba(121,184,0, 1.0);
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.5em;
    -webkit-transition: bottom 200ms, left 200ms, font-size 200ms, color 200ms, font-weight 200ms;
    -moz-transition: bottom 200ms, left 200ms, font-size 200ms, color 200ms, font-weight 200ms;
    transition: bottom 200ms, left 200ms, font-size 200ms, color 200ms, font-weight 200ms;
}

input.form-control:focus ~ .input-label,
input.form-control:not(:focus):valid ~ .input-label {
    color: rgba(0,0,0, 1.0);
    left: 0em;
    bottom: 5em;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 2.1em;
}

.btn-swbc-green {
    background-color: rgba(121,184,0, 1.0);
    border-color: rgba(148,198,51, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

    .btn-swbc-green:hover,
    .btn-swbc-green:active {
        background-color: rgba(97,147,0, 1.0);
        border-color: rgba(129,169,51, 1.0);
        color: rgba(255, 255, 255, 1.0);
    }

    .btn-swbc-green:focus {
        background-color: rgba(97,147,0, 1.0);
        border-color: rgba(78,118,0, 1.0);
        color: rgba(255, 255, 255, 1.0);
    }

    .btn-swbc-green:active:hover {
        background-color: rgba(62,94,0, 1.0);
        border-color: rgba(78,118,0, 1.0);
        color: rgba(255, 255, 255, 1.0);
    }

.btn-swbc-blue {
    background-color: rgba(18,70,118, 1.0);
    border-color: rgba(15,57,96, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

    .btn-swbc-blue svg {
        color: rgba(121,184,0, 1.0);
    }

    .btn-swbc-blue:hover,
    .btn-swbc-blue:active {
        background-color: rgba(15,57,96, 1.0);
        border-color: rgba(18,78,118, 1.0);
        color: rgba(255, 255, 255, 1.0);
    }

    .btn-swbc-blue:focus {
        background-color: rgba(15,57,96, 1.0);
        border-color: rgba(11,44,74, 1.0);
        color: rgba(255, 255, 255, 1.0);
    }

    .btn-swbc-blue:active:hover {
        background-color: rgba(8, 31, 52, 1.0);
        border-color: rgba(11,44,74, 1.0);
        color: rgba(255, 255, 255, 1.0);
    }
