﻿@model SWBC.ImCovered.Models.DocumentUploadComponentModel

<form asp-action="Upload"
      asp-controller="Policy"
      data-bind="class: noUidSectionIsActive, submit: validateForm"
      class="collapse"
      id="uploadDocsPanel">
    <div class="form-group unset-height"
         data-bind='component: "error-summary", class: errorsPresent'>
    </div>
    <div class="form-group"
         data-bind='component: {
            name: "login-input-box",
            params: {
                inputLabel: "@Html.DisplayNameFor(m => m.LastName)",
                inputId : "@Html.IdFor(m => m.LastName)",
                inputValue : "@Html.ValueFor(m => m.LastName)",
                requiredErrorMessage: "@CommonTerms.Required",
                invalidErrorMessage: "@string.Format(CommonTerms.InvalidFormat, "A-Z (Max: 30)")",
                inputFormat: "^[A-Za-z]{1,30}$",
                inputAttr: {
                    autocomplete: "off",
                    maxlength: "30"
                }
            }
         }'>
    </div>
    <div class="form-group"
         data-bind='component: {
            name: "login-input-box",
            params: {
                inputLabel: "@Html.DisplayNameFor(m => m.ZipCode)",
                inputId : "@Html.IdFor(m => m.ZipCode)",
                inputValue : "@Html.ValueFor(m => m.ZipCode)",
                requiredErrorMessage: "@CommonTerms.Required",
                invalidErrorMessage: "@string.Format(CommonTerms.InvalidFormat, "00000")",
                inputFormat: "^[0-9]{5}$",
                inputAttr: {
                    autocomplete: "off",
                    maxlength: "5"
                }
            }
         }'>
    </div>
    <div class="form-group unset-height">
        <div class="important-section important-section-aqua">
            <div class="section-title"
                 role="heading">
                @Policy.WhatKindOfLoan
            </div>
            <div class="section-body">
                <div class="form-check">
                    <input type="radio"
                           name="LoanType"
                           id="loanTypeAuto"
                           value="@DbContextEnums.InsuranceType.Cpi"
                           class="form-check-input" />
                    <label class="form-check-label"
                           for="loanTypeAuto">
                        @CommonTerms.Auto
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio"
                           name="LoanType"
                           id="loanTypeMortgage"
                           value="@DbContextEnums.InsuranceType.Mortgage"
                           class="form-check-input" />
                    <label class="form-check-label"
                           for="loanTypeMortgage">
                        @CommonTerms.Mortgage
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio"
                           name="LoanType"
                           id="loanTypeOther"
                           value="@DbContextEnums.InsuranceType.Cpi"
                           class="form-check-input" />
                    <label class="form-check-label"
                           for="loanTypeOther">
                        @CommonTerms.Other
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <button type="submit"
                        class="btn btn-swbc-plum float-right">
                    @Policy.UploadDocuments
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-12 important-text important-text-plum">
            <p>
                I'd rather just email my documents&nbsp;
                <a href="#"
                   title="Email Documents"
                   aria-label="Email Documents">
                    <span class="sr-only">Email Documents</span>
                    <i class="fas fa-envelope fa-2x"
                       data-fa-transform="down-3"></i>
                </a>
            </p>
        </div>
    </div>
</form>
