﻿@model SWBC.ImCovered.Models.FooterBuildInfoComponentModel

<p>
    <a href="#">
        Privacy Policy
    </a>&nbsp;|&nbsp;
    <a href="#">
        Security
    </a>
</p>
<p>@Html.Raw(CommonTerms.FooterTOS)</p>
<p>&copy; @Model.Year - @CommonTerms.AllRightReserved</p>
@if (Model.DisplayBuildInfo)
{
    <p>@Model.ReleaseTag | @Model.ReleaseBuild</p>
}
