﻿@model SWBC.ImCovered.Models.UidLoginComponentModel

<form asp-action="Dashboard"
      asp-controller="Policy"
      data-bind="class: uidSectionIsActive, submit: validateForm"
      class="collapse.show"
      id="uidLoginPanel">
    <div class="form-group unset-height"
         data-bind='component: "error-summary", class: errorsPresent'>
    </div>
    <div class="form-group"
         data-bind='component: {
            name: "login-input-box",
            params: {
                inputLabel: "@Html.DisplayNameFor(m => m.Uid)",
                inputId : "@Html.IdFor(m => m.Uid)",
                inputValue : "@Html.ValueFor(m => m.Uid)",
                requiredErrorMessage: "@CommonTerms.Required",
                invalidErrorMessage: "@string.Format(CommonTerms.InvalidFormat, "Numeric Only")",
                inputFormat: "^[0-9]{5,12}$",
                inputAttr: {
                    autocomplete: "off",
                    maxlength: "12"
                }
            }
         }'>
    </div>
    <div class="form-group"
         data-bind='component: {
            name: "login-input-box",
            params: {
                inputLabel: "@Html.DisplayNameFor(m => m.ZipCode)",
                inputId : "@Html.IdFor(m => m.ZipCode)",
                requiredErrorMessage: "@CommonTerms.Required",
                invalidErrorMessage: "@string.Format(CommonTerms.InvalidFormat, "00000")",
                inputFormat: "^[0-9]{5}$",
                inputAttr: {
                    autocomplete: "off",
                    maxlength: "5"
                }
            }
         }'>
    </div>
    <div class="form-group">
        <button type="submit"
                class="btn btn-swbc-plum">
            @Policy.LookupPolicy
        </button>
    </div>
</form>
