﻿@import 'variables';
@import 'mixins';

@-moz-keyframes logoBoxLoad {
    @include logoBoxAnimation;
}

@-webkit-keyframes logoBoxLoad {
    @include logoBoxAnimation;
}

@-o-keyframes logoBoxLoad {
    @include logoBoxAnimation;
}

@keyframes logoBoxLoad {
    @include logoBoxAnimation;
}

