﻿@import 'variables';
@import 'mixins';

.btn-swbc-plum {
    background-color: $bg-color-button-swbc-plum;
    color: $font-color-button-swbc-plum;
    border-color: $border-color-button-swbc-plum;
    font-size: $font-size-button-swbc-plum;
    display: inline-block;
    float: right;

    @media screen and (max-width: $breakpoint-x-small) {
        display: block;
        @include full-width();
    }

    &:hover,
    &:focus,
    &:active {
        background-color: darken($bg-color-button-swbc-plum, 5%);
        color: $font-color-button-swbc-plum;
    }

    &:hover:active {
        background-color: darken($bg-color-button-swbc-plum, 8%);
        color: $font-color-button-swbc-plum;
    }
}
