﻿@import 'variables';
@import 'mixins';

.form-group {
    margin-bottom: $margin-bottom-form-group;
    margin-left: $margin-base;
    margin-right: $margin-base;
    height: $height-form-group;
    color: $font-color-formgroup;

    &.unset-height {
        height: unset;
    }

    .input-label {
        position: relative;
        pointer-events: none;
        line-height: $line-height-input-label;
        left: $left-input-label;
        bottom: $bottom-input-label;
        color: $font-color-input-label;
        font-size: $font-size-input-label;
        @include transition("line-height, bottom, left, color, font-weight, font-size", $delay: "0s, 10ms, 10ms, 10ms, 10ms, 20ms");

        ~ span > svg {
            position: relative;
            font-size: $font-size-input-label-svg;
            bottom: $bottom-input-label-svg;
            right: $right-input-label-svg;
        }
    }

    .form-check {
        font-size: $font-size-formgroup-formcheck;
        margin-left: $margin-left-formgroup-formcheck;

        input[type=radio] {
            height: $height-formgroup-formcheck-input-radio;
            width: $width-formgroup-formcheck-input-radio;
        }

        .form-check-label {
            margin-top: $margin-top-formgroup-formcheck-formchecklabel;
        }
    }
}

input {
    &.form-control {
        border-top-color: $border-color-top-input-form-control;
        border-left-color: $border-color-left-input-form-control;
        border-right-color: $border-color-left-input-form-control;
        box-shadow: none;
        color: $font-color-input-form-control;
        border-radius: 0;
        @include transition($property: border-bottom-width, $duration: 300ms);

        &:focus {
            @extend input.form-control;
            border-bottom-width: $border-width-bottom-input-form-control-focus;
            border-bottom-color: $border-color-bottom-input-form-control-focus;

            & ~ .input-label {
                line-height: $line-height-input-label-inputcontrol-focus;
                left: $left-input-label-inputcontrol-focus;
                bottom: $bottom-input-label-inputcontrol-focus;
                color: $font-color-input-label-inputcontrol-focus;
                font-size: $font-size-input-label-inputcontrol-focus;
            }
        }

        &.valid:not(:focus) ~ .input-label {
            line-height: $line-height-input-label-inputcontrol-focus;
            left: $left-input-label-inputcontrol-focus;
            bottom: $bottom-input-label-inputcontrol-focus;
            color: $font-color-input-label-inputcontrol-focus;
            font-size: $font-size-input-label-inputcontrol-focus;
        }

        &.input-validation-error {
            &.not-empty {
                &:not(:focus) {
                    & ~ .input-label {
                        line-height: $line-height-input-label-inputcontrol-focus;
                        left: $left-input-label-inputcontrol-focus;
                        bottom: $bottom-input-label-inputcontrol-focus;
                        color: $font-color-input-label-inputcontrol-focus;
                        font-size: $font-size-input-label-inputcontrol-focus;
                    }

                    background-color: $bg-color-inputvalidationerror;
                }

                &:focus {
                    color: $font-color-inputvalidationerror;
                }
            }
        }
    }
}

.error-summary {
    @include border($border-color-left-errorsummary, $side: left, $width: $border-width-left-errorsummary);
    background-color: $bg-color-errorsummary;
    color: $font-color-errorsummary;
    padding-top: $padding-top-errorsummary;
    padding-bottom: $padding-bottom-errorsummary;
    padding-left: $padding-left-errorsummary;
    padding-right: $padding-right-errorsummary;
    font-size: $font-size-errorsummary;
    margin-bottom: $margin-bottom-errorsummary;

    ul {
        margin-bottom: unset;
    }
}
