﻿@import 'variables';
@import 'mixins';

html {
    @include full-height;
    font-size: $font-size-main !important;
    background-color: rgba($bg-color-main, 1.0);
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    @include min-full-height;
    font-family: $main-font !important;
    padding-bottom: $padding-bottom-body;
    position: relative;
    background-color: transparent;
    background-image: url($bg-svg-main);
    background-repeat: no-repeat;
}

a {
    &:link,
    &:visited {
        color: rgba($hyperlink-color, 1.0);
    }
}

footer {
    padding-top: $padding-top-footer;
    padding-bottom: $padding-bottom-footer;
    font-size: $font-size-footer;
    background-color: rgba($bg-color-footer, 1.0);
    height: $height-footer;
    color: $font-color-footer;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    p {
        margin-bottom: $margin-bottom-footer-p;
    }
    a {
        font-size: $font-size-footer-a;
    }
}

header {
    .row {
        padding-top: $padding-top-header-row;
        padding-left: $padding-left-header-row;
    }
}

div[role=main] {
    padding-top: $padding-top-div-main;
}

.row {
    padding: $padding-all-row-base;
}

.container-fluid {
    @media screen and (max-width: $breakpoint-x-small) {
        & {
            margin-left: $margin-left-container-row;
            margin-right: $margin-right-container-row;
        }

        & > .row {
            padding-left: $padding-left-container-row;
            padding-right: $padding-right-container-row;
        }
    }
}
