﻿@import 'variables';
@import 'mixins';

#insuranceStatus {
    font-size: $font-size-insurancestatus;
    text-align: center;
    border-radius: $border-radius-all-insurancestatus;
    margin-bottom: $margin-bottom-insurancestatus;

    .explaination {
        background-color: $bg-color-insurancestatus-explaination;
        text-align: left;
        font-size: $font-size-insurancestatus-explaination;
        padding-left: $padding-left-insurancestatus-explaination;
        padding-right: $padding-right-insurancestatus-explaination;
        padding-top: $padding-top-insurancestatus-explaination;
        padding-bottom: $padding-bottom-insurancestatus-explaination;
    }

    &.bad {
        background-color: $bg-color-insurancestatus-bad;
        color: $font-color-insurancestatus-bad;
    }

    &.neutral {
        background-color: $bg-color-insurancestatus-neutral;
        color: $font-color-insurancestatus-neutral;
    }
}
