﻿@import 'variables';
@import 'mixins';

.logo-box {
    @include md-box-shadow(0, 0.2em, 1em, #000, 0.29);
    padding-top: $padding-top-logo-box;
    padding-bottom: $padding-bottom-logo-box;
    padding-left: $padding-left-logo-box;
    padding-right: $padding-right-logo-box;
    background: $bg-color-logo-box no-repeat center center;
    background-size: contain;
    box-sizing: border-box;
    height: 6.0em;
    margin-top: $margin-top-logo-box;
    margin-bottom: $margin-bottom-logo-box;
    left: $left-logo-box-start;
    -o-animation: logoBoxLoad 500ms ease-in 500ms 1 forwards;
    -moz-animation: logoBoxLoad 500ms ease-in 500ms 1 forwards;
    -webkit-animation: logoBoxLoad 500ms ease-in 500ms 1 forwards;
    animation: logoBoxLoad 500ms ease-in 500ms 1 forwards;

    @media screen and (min-width: $breakpoint-x-large) {
        & {
            background-size: unset;
        }
    }
}


