﻿@import 'variables';

@mixin full-height {
    height: 100%;
}

@mixin min-full-height {
    min-height: 100%;
}

@mixin full-width {
    width: 100%;
}

@mixin font-face($font-name, $font-weight, $font-style, $unicode-range, $font-path-local: '', $font-path-remote: '') {
    @font-face {
        font-family: $font-name;
        font-style: $font-style;
        font-weight: $font-weight;

        @if ($font-path-local == '' AND $font-path-remote == '') {
            @debug $font-path-local;
            @debug $font-path-remote;

            //@error "Must specifiy either a local or remote font path";
        }
        @elseif ($font-path-local == '' AND $font-path-remote != '') {
            src: url($font-path-remote) format('woff2');
        }
        @elseif ($font-path-local != '' AND $font-path-remote == '') {
            src: url($font-path-local) format('truetype');
        }
        @else {
            src: url($font-path-remote) format('woff2'), url($font-path-local) format('truetype');
        }

        unicode-range: $unicode-range;
    }
}

@mixin md-box-shadow($offset-x, $offset-y, $blur-radius, $color, $opacity, $style: '') {
        box-shadow: #{$style} $offset-x $offset-y $blur-radius rgba($color, $opacity), $offset-x calc(#{$offset-y} + 0.2em) calc(#{$blur-radius} / 2) rgba($color, calc(#{$opacity} + 0.05));
}

@mixin md-text-shadow($offset-x, $offset-y, $blur-radius, $color, $opacity) {
    text-shadow: $offset-x $offset-y $blur-radius rgba($color, $opacity);
}

@mixin border($color, $side: all, $width: $border-width-base, $style: solid) {
    @if ($side == all) {
        border: $color $width $style;
    }
    @else {
        border-#{$side}: $color $width $style;
    }
}

@mixin transition($property, $duration: $trans-duration, $delay: $trans-delay, $timing-func: linear) {
    -webkit-transition-property: #{$property};
    -webkit-transition-duration: #{$duration};
    -webkit-transition-delay: #{$delay};
    -webkit-transition-timing-function: #{$timing-func};
    -moz-transition-property: #{$property};
    -moz-transition-duration: #{$duration};
    -moz-transition-delay: #{$delay};
    -moz-transition-timing-function: #{$timing-func};
    transition-property: #{$property};
    transition-duration: #{$duration};
    transition-delay: #{$delay};
    transition-timing-function: #{$timing-func};
}

@mixin logoBoxAnimation() {
    from {
        left: $left-logo-box-start;
    }
    to {
        left: $left-logo-box-end;
    }
}
