﻿@import 'variables';
@import 'mixins';

.panel {
    @include md-box-shadow(0, 0.2em, 1em, #000, 0.19);
    font-size: $font-size-panel;
    background-color: $bg-color-panel;
    border-radius: $border-radius-all-panel;
    padding-left: $padding-left-panel-base;
    padding-right: $padding-right-panel-base;
     
    .main-title {
        background-color: $bg-color-panel-main-title;
        padding-top: $padding-top-panel-main-title;
        padding-bottom: $padding-bottom-panel-main-title;
        padding-left: $padding-left-panel-main-title;
        padding-right: $padding-right-panel-main-title;
        margin-top: $margin-top-panel-main-title;
        margin-left: $margin-left-panel-main-title;
        margin-right: $margin-right-panel-main-title;
        margin-bottom: $margin-bottom-panel-main-title;
        border-radius: $border-radius-topleft-panel-main-title $border-radius-topright-panel-main-title 0 0;
        font-size: $font-size-panel-main-title;

        a {
            font-size: inherit;
        }
    }

    .panel-body {
        p {
            margin-bottom: $margin-bottom-panel-panelbody-p;
        }
    }

    hr {
        margin-top: $margin-top-panel-hr;
        margin-bottom: $margin-bottom-panel-hr;
        margin-left: $margin-left-panel-hr;
        margin-right: $margin-right-panel-hr;
    }
}

.panel-swbc-blue {
    @include border($border-color-panel-swbc-blue, $width: $border-width-panel-swbc-blue);
    background-color: $bg-color-panel-swbc-blue;
    color: $font-color-panel-swbc-blue;
    font-size: $font-size-panel-swbc-blue;

    .card {
        color: $font-color-panel-swbc-blue-well;
        font-size: inherit;
        padding-top: $padding-top-panel-swbc-blue-card;
        padding-bottom: $padding-bottom-panel-swbc-blue-card;
        padding-left: $padding-left-panel-swbc-blue-card;
        padding-right: $padding-right-panel-swbc-blue-card;
        line-height: $line-height-panel-swbc-blue-card;
        
        .card-body {
            padding: inherit;
            color: inherit;

            svg {
                color: $font-color-panel-swbc-blue-well-svg;
            }
        }
    }

    .swbc-panel-title {
        @include full-width();
        background-color: $bg-color-panel-swbc-blue-title;
        text-align: center;
        padding-top: $padding-top-panel-swbc-blue-title;
        padding-bottom: $padding-bottom-panel-swbc-blue-title;
        padding-left: $padding-left-panel-swbc-blue-title;
        padding-right: $padding-right-panel-swbc-blue-title;
        font-size: $font-size-panel-swbc-blue-title;

        h2 {
            font-size: inherit;
        }

        strong {
            @include border($border-color-panel-swbc-blue-title-strong, bottom, $border-width-panel-swbc-blue-title-strong);

            .thinner {
                font-weight: 300;
            }
        }

        .small {
            color: $font-color-panel-swbc-blue-title-small;
        }
    }

    .disclaimer {
        background-color: $bg-color-panel-swbc-blue-disclaimer;
        color: $font-color-panel-swbc-blue-disclaimer;
        font-size: $font-size-panel-swbc-blue-disclaimer;
        padding: $padding-all-panel-swbc-blue-disclaimer;
        margin-left: $margin-left-panel-swbc-blue-disclaimer;
        margin-right: $margin-right-panel-swbc-blue-disclaimer;
    }
}

.panel-swbc-blue-outline {
    @include border($border-color-panel-swbc-blue-outline, $width: $border-width-panel-swbc-blue-outline);
    background-color: $bg-color-panel-swbc-blue-outline;
    color: $font-color-panel-swbc-blue-outline;
    font-size: $font-size-panel-swbc-blue-outline;

    .swbc-panel-title {
        @include full-width();
        background-color: $bg-color-panel-swbc-blue-outline-title;
        text-align: center;
        padding-top: $padding-top-panel-swbc-blue-outline-title;
        padding-bottom: $padding-bottom-panel-swbc-blue-outline-title;
        padding-left: $padding-left-panel-swbc-blue-outline-title;
        padding-right: $padding-right-panel-swbc-blue-outline-title;
        font-size: $font-size-panel-swbc-blue-outline-title;

        h2 {
            font-size: inherit;
        }

        strong {
            @include border($border-color-panel-swbc-blue-outline-title-strong, bottom, $border-width-panel-swbc-blue-outline-title-strong);

            .thinner {
                font-weight: 300;
            }
        }

        .small {
            color: $font-color-panel-swbc-blue-outline-title-small;
        }
    }
}

.important-text {
    text-align: left;
    padding-top: $padding-top-importanttext;
    padding-bottom: $padding-bottom-importanttext;
    padding-left: $padding-left-importanttext;
    padding-right: $padding-right-importanttext;
    border-left-width: $border-width-left-importanttext;
    border-left-style: solid;
    border-top: solid $border-width-top-importanttext $border-color-all-importanttext;
    border-bottom: solid $border-width-bottom-importanttext $border-color-all-importanttext;
    border-right: solid $border-width-right-importanttext $border-color-all-importanttext;
    font-size: $font-size-importanttext;

    a {
        margin-top: 2px;
    }

    &.important-text-plum {
        border-left-color: $border-color-left-importanttext-plum;
    }

    &.important-text-aqua {
        border-left-color: $border-color-left-importanttext-plum;
    }
}


.important-section {
    @include md-box-shadow(0, 0.2em, 1em, #000, 0.19);

    .section-body {
        padding-top: $padding-top-importantsection-body;
        padding-bottom: $padding-bottom-importantsection-body;
        padding-left: $padding-left-importantsection-body;
        padding-right: $padding-right-importantsection-body;
    }

    .section-title {
        background-color: $bg-color-importantsection-title;
        padding-top: $padding-top-importantsection-title;
        padding-bottom: $padding-bottom-importantsection-title;
        padding-left: $padding-left-importantsection-title;
        padding-right: $padding-right-importantsection-title;
        color: $font-color-importantsection-title;
        font-size: $font-size-importantsection-title;
        font-weight: 600;
    }

    &.important-section-plum {
        background-color: $bg-color-importantsection-plum;
    }

    &.important-section-aqua {
        background-color: $bg-color-importantsection-aqua;
    }
}

a.login-pane-selector {
    text-align: center;
    padding-top: $padding-top-loginpaneselector;
    padding-bottom: $padding-bottom-loginpaneselector;
    color: $font-color-loginpaneselector;
    background-color: $bg-color-loginpaneselector;
    font-size: $font-size-loginpaneselector;
    @include transition("background-color color box-shadow");

    &:not(:first-child) {
        @include md-box-shadow(0.3em, -0.2em, 0.43em, $black, 0.30, inset);
    }

    &:first-child {
        @include md-box-shadow(0.3em, -0.2em, 0.43em, $black, 0.30, inset);
    }

    &:active,
    &:hover,
    &:visited {
        color: $font-color-loginpaneselector;
        text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: darken($bg-color-loginpaneselector, 5%);
    }

    &:hover:active {
        background-color: darken($bg-color-loginpaneselector, 8%);
    }

    &.active {
        box-shadow: none;
        background-color: $bg-color-loginpaneselector-active;
        color: $font-color-loginpaneselector-active;
        cursor: default;
        pointer-events: none;

        &:not(:first-child) {
            border-left-color: $border-color-right-loginpaneselector-active;
            border-left-style: inset;
            border-left-width: $border-width-right-loginpaneselector-active;
        }

        &:first-child {
            border-right-color: $border-color-right-loginpaneselector-active;
            border-right-style: inset;
            border-right-width: $border-width-right-loginpaneselector-active;
        }

        &:focus,
        &:hover,
        &:active,
        &:visited {
            box-shadow: none;
        }
    }
}
