﻿// screen sizing
$breakpoint-x-large: 1400px;
$breakpoint-x-small: 480px;
$line-height-panel-swbc-blue-card: 2em;
$height-svg-header: 135;
$height-footer: 10em;
$height-form-group: 5.3em;
$line-height-input-label: 1.0em;
$line-height-input-label-inputcontrol-focus: 1.475em;
$left-input-label: 0.5em;
$right-input-label-svg: $left-input-label;
$bottom-input-label: 2.2em;
$bottom-input-label-svg: $bottom-input-label;
$left-input-label-inputcontrol-focus: 0.2em;
$bottom-input-label-inputcontrol-focus: 4.8em;
$left-logo-box-start: -25em;
$left-logo-box-end: 0;
$height-formgroup-formcheck-input-radio: 1.1em;
$width-formgroup-formcheck-input-radio: $height-formgroup-formcheck-input-radio;

// fonts
$main-font: 'Montserrat', arial;
$font-size-main: 1.2em;
$font-size-p: calc(#{$font-size-main} - 0.2em);
$font-size-footer: calc(#{$font-size-main} - 0.5em);
$font-size-footer-a: calc(#{$font-size-main} - 0.2em);
$font-size-panel: calc(#{$font-size-main} - 0.5em);
$font-size-panel-main-title: calc(#{$font-size-main} + 0.55em);
$font-size-panel-swbc-blue: $font-size-panel;
$font-size-panel-swbc-blue-outline: $font-size-panel-swbc-blue;
$font-size-panel-swbc-blue-disclaimer: calc(#{$font-size-main} + 0.2em);
$font-size-panel-swbc-blue-title: calc(#{$font-size-main} + 0.5em);
$font-size-panel-swbc-blue-outline-title: $font-size-panel-swbc-blue-title;
$font-size-input-label: calc(#{$font-size-main} + 0.5em);
$font-size-input-label-inputcontrol-focus: calc(#{$font-size-main} + 0.05em);
$font-size-input-label-svg: calc(#{$font-size-main} + 0.1em);
$font-size-button-swbc-plum: calc(#{$font-size-main} + 0.3em);
$font-size-insurancestatus: calc(#{$font-size-main} + 0.8em);
$font-size-insurancestatus-explaination: calc(#{$font-size-main} - 0.4em);
$font-size-formgroup-formcheck: calc(#{$font-size-main} + 0.2em);
$font-size-importantsection-title: calc(#{$font-size-main} + 0.3em);
$font-size-loginpaneselector: calc(#{$font-size-main} + 0.2em);
$font-size-importanttext: calc(#{$font-size-main} + 0.1em);
$font-size-input-span-fieldvalidationerror: calc(#{$font-size-main} - 0.3em);
$font-size-tooltipinner: calc(#{$font-size-main} - 0.4em);
$font-size-errorsummary: calc(#{$font-size-main} + 0.1em);
$montserrat-family-name: 'Montserrat';
$montserrat-unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
$montserrat-light-local: '../fonts/Montserrat-Light.ttf';
$montserrat-light-url: 'https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2';
$montserrat-normal-local: '../fonts/Montserrat-Regular.ttf';
$montserrat-normal-url: 'https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2';
$montserrat-bold-local: '../fonts/Montserrat-Bold.ttf';
$montserrat-bold-url: 'https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2';

// colors
$main-color: rgb(40, 51, 74);
$accent-color-aqua: #5ac5cb;
$accent-color-plum: #9e007e;
$accent-color-red: red;
$white: #ffffff;
$black: #000000;
$lightgray: #f7f7f6;
$main-color-opacity90: rgba($main-color, 0.51);
$bg-color-main: $lightgray;
$bg-color-svg: $main-color-opacity90;
$bg-color-footer: #222222;
$bg-color-logo-box: $white;
$bg-color-panel: $bg-color-logo-box;
$bg-color-panel-swbc-blue: $main-color;
$bg-color-panel-swbc-blue-outline: rgba($main-color, 0.20);
$bg-color-panel-swbc-blue-title: $bg-color-footer;
$bg-color-panel-swbc-blue-outline-title: $accent-color-aqua;
$bg-color-panel-main-title: $bg-color-footer;
$bg-color-panel-swbc-blue-disclaimer: darken($lightgray, 15%);
$bg-color-button-swbc-plum: $accent-color-plum;
$bg-color-insurancestatus-bad: #FF7F00;
$bg-color-insurancestatus-neutral: #778899;
$bg-color-insurancestatus-explaination: rgba($white, 0.8);
$bg-color-importantsection-plum: $accent-color-plum;
$bg-color-importantsection-aqua: rgba($accent-color-aqua, 0.5);
$bg-color-importantsection-title: rgba($black, 0.2);
$bg-color-loginpaneselector: $accent-color-aqua;
$bg-color-loginpaneselector-active: $white;
$bg-color-inputvalidationerror: rgba(red, 0.05);
$bg-color-errorsummary: $bg-color-inputvalidationerror;
$hyperlink-color: $accent-color-aqua; 
$font-color-base: $white;
$font-color-footer: rgba($font-color-base, 1.0);
$font-color-panel-swbc-blue: $font-color-base;
$font-color-panel-swbc-blue-outline: $font-color-panel-swbc-blue;
$font-color-panel-swbc-blue-well: $black;
$font-color-panel-swbc-blue-well-svg: $accent-color-plum;
$font-color-panel-swbc-blue-title-small: $accent-color-aqua;
$font-color-panel-swbc-blue-outline-title-small: $black;
$font-color-panel-swbc-blue-disclaimer: $black;
$font-color-input-form-control: $black;
$font-color-input-label: $accent-color-plum;
$font-color-input-label-inputcontrol-focus: $black;
$font-color-button-swbc-plum: $white;
$font-color-insurancestatus-bad: $white;
$font-color-insurancestatus-neutral: $black;
$font-color-formgroup: $black;
$font-color-importantsection-title: $white;
$font-color-loginpaneselector: $bg-color-loginpaneselector-active;
$font-color-loginpaneselector-active: darken($bg-color-loginpaneselector, 5%);
$font-color-inputvalidationerror: $accent-color-red;
$font-color-errorsummary: $font-color-inputvalidationerror;
$border-color-panel-swbc-blue: rgba(darken($main-color, 10%), 1.0);
$border-color-panel-swbc-blue-outline: $border-color-panel-swbc-blue;
$border-color-panel-swbc-blue-title-strong: $font-color-panel-swbc-blue-title-small;
$border-color-panel-swbc-blue-outline-title-strong: $font-color-panel-swbc-blue-outline-title-small;
$border-color-top-input-form-control: transparent;
$border-color-left-input-form-control: $border-color-top-input-form-control;
$border-color-right-input-form-control: $border-color-left-input-form-control;
$border-color-bottom-input-form-control-focus: $accent-color-plum;
$border-color-button-swbc-plum: darken($bg-color-button-swbc-plum, 10%);
$border-color-right-loginpaneselector-active: rgba(darken($accent-color-plum, 55%), 0.8);
$border-color-all-importanttext: $black;
$border-color-left-importanttext-plum: $accent-color-plum;
$border-color-left-importanttext-aqua: $accent-color-aqua;
$border-color-all-tooltipinner: darken($accent-color-red, 10%);
$border-color-left-errorsummary: $accent-color-red;

// borders
$border-width-base: 1px;
$border-width-panel: calc(#{$border-width-base} * 2);
$border-width-panel-swbc-blue: $border-width-panel;
$border-width-panel-swbc-blue-outline: $border-width-panel;
$border-width-panel-swbc-blue-title-strong: 1px;
$border-width-panel-swbc-blue-outline-title-strong: $border-width-panel-swbc-blue-title-strong;
$border-width-bottom-input-form-control-focus: calc(#{$border-width-base} * 2);
$border-width-right-loginpaneselector-active: calc(#{$border-width-base} * 3);
$border-width-left-importanttext: calc(#{$border-width-base} * 8);
$border-width-top-importanttext: $border-width-base;
$border-width-bottom-importanttext: $border-width-top-importanttext;
$border-width-right-importanttext: $border-width-base;
$border-width-all-tooltipinner: calc(#{$border-width-base} * 2);
$border-width-left-errorsummary: calc(#{$border-width-base} * 5);
$border-radius-panel-base: 4px;
$border-radius-all-panel: $border-radius-panel-base;
$border-radius-topleft-panel-main-title: $border-radius-panel-base;
$border-radius-topright-panel-main-title: $border-radius-topleft-panel-main-title;
$border-radius-all-insurancestatus: $border-radius-panel-base;

// spacing - padding
$padding-all-row-base: 0.25rem;
$padding-top-header-row: 0;
$padding-left-container-fluid-xs: 0.5rem;
$padding-right-container-fluid-xs: $padding-left-container-fluid-xs;
$padding-left-header-row: $padding-top-header-row;
$padding-top-footer: 2rem;
$padding-bottom-footer: 0.2rem;
$padding-bottom-body: 9rem;
$padding-top-logo-box: 1rem;
$padding-bottom-logo-box: $padding-top-logo-box;
$padding-left-logo-box: calc(#{$padding-top-logo-box} + 0.2rem);
$padding-right-logo-box: $padding-left-logo-box;
$padding-top-div-main: 0.85rem;
$padding-left-panel-base: 0;
$padding-right-panel-base: $padding-left-panel-base;
$padding-top-panel-swbc-blue-title: 1rem;
$padding-bottom-panel-swbc-blue-title: $padding-top-panel-swbc-blue-title;
$padding-left-panel-swbc-blue-title: calc(#{$padding-top-panel-swbc-blue-title} / 2);
$padding-right-panel-swbc-blue-title: $padding-left-panel-swbc-blue-title;
$padding-top-panel-swbc-blue-outline-title: 1rem;
$padding-bottom-panel-swbc-blue-outline-title: $padding-top-panel-swbc-blue-outline-title;
$padding-left-panel-swbc-blue-outline-title: calc(#{$padding-top-panel-swbc-blue-outline-title} / 2);
$padding-right-panel-swbc-blue-outline-title: $padding-left-panel-swbc-blue-outline-title;
$padding-top-panel-swbc-blue-card: 0.3rem;
$padding-bottom-panel-swbc-blue-card: $padding-top-panel-swbc-blue-card;
$padding-left-panel-swbc-blue-card: $padding-top-panel-swbc-blue-card;
$padding-right-panel-swbc-blue-card: $padding-left-panel-swbc-blue-card;
$padding-top-panel-main-title: calc(#{$padding-top-div-main} - 0.2rem);
$padding-bottom-panel-main-title: $padding-top-panel-main-title;
$padding-left-panel-main-title: calc(#{$padding-top-div-main} / 2);
$padding-right-panel-main-title: $padding-left-panel-main-title;
$padding-all-panel-swbc-blue-disclaimer: 0.7rem;
$padding-left-container-row: 0;
$padding-right-container-row: $padding-left-container-row;
$padding-left-insurancestatus-explaination: 1rem;
$padding-right-insurancestatus-explaination: $padding-left-insurancestatus-explaination;
$padding-top-insurancestatus-explaination: calc(#{$padding-left-insurancestatus-explaination} + 0.3rem);
$padding-bottom-insurancestatus-explaination: $padding-top-insurancestatus-explaination;
$padding-top-importantsection-body: 0.6rem;
$padding-bottom-importantsection-body: $padding-top-importantsection-body;
$padding-left-importantsection-body: 0.5rem;
$padding-right-importantsection-body: $padding-left-importantsection-body;
$padding-top-importantsection-title: 0.35rem;
$padding-bottom-importantsection-title: $padding-top-importantsection-title;
$padding-left-importantsection-title: 0.5rem;
$padding-right-importantsection-title: $padding-left-importantsection-title;
$padding-top-loginpaneselector: 0.5rem;
$padding-bottom-loginpaneselector: $padding-top-loginpaneselector;
$padding-top-importanttext: 0.5rem;
$padding-bottom-importanttext: $padding-top-importanttext;
$padding-left-importanttext: 1.5rem;
$padding-right-importanttext: calc(#{$padding-left-importanttext - 0.8rem});
$padding-left-errorsummary: 0.5rem;
$padding-right-errorsummary: $padding-left-errorsummary;
$padding-top-errorsummary: 0.6rem;
$padding-bottom-errorsummary: $padding-top-errorsummary;

// spacing - margins
$margin-base: 0.2rem;
$margin-bottom-footer-p: $margin-base;
$margin-top-logo-box: calc(#{$margin-base} + 0.12rem);
$margin-bottom-logo-box: calc(#{$margin-base} + 0.05rem);
$margin-top-panel-main-title: $margin-base;
$margin-bottom-panel-main-title: 0.9rem;
$margin-bottom-panel-panelbody-p: $margin-base;
$margin-left-panel-main-title: $margin-top-panel-main-title;
$margin-right-panel-main-title: $margin-left-panel-main-title;
$margin-left-panel-swbc-blue-disclaimer: $margin-base;
$margin-right-panel-swbc-blue-disclaimer: $margin-left-panel-swbc-blue-disclaimer;
$margin-bottom-form-group: calc(#{$margin-base} + 0.2rem);
$margin-left-container-row: 0;
$margin-right-container-row: $margin-left-container-row;
$margin-bottom-insurancestatus: $margin-base;
$margin-top-panel-hr: $margin-base;
$margin-bottom-panel-hr: $margin-top-panel-hr;
$margin-left-panel-hr: $margin-base;
$margin-right-panel-hr: $margin-left-panel-hr;
$margin-left-formgroup-formcheck: calc(#{$margin-base} + 0.1rem);
$margin-top-formgroup-formcheck-formchecklabel: calc(#{$margin-base} - 0.1rem);
$margin-bottom-errorsummary: calc(#{$margin-base} + 0.5rem);


// background svg
$bg-svg-main: "data:image/svg+xml,%3Csvg height='#{$height-svg-header}' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='#{$height-svg-header}' fill='rgba(#{red($bg-color-svg), green($bg-color-svg), blue($bg-color-svg), opacity($bg-color-svg)})' /%3E%3C/svg%3E";

// css transitions
$trans-delay: 0ms;
$trans-duration: 200ms;

