/* latin - Montserrat light */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2") format("woff2"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin - Montserrat normal */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("woff2"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin - Montserrat bold */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2") format("woff2"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

html {
  height: 100%;
  font-size: 1.2em !important;
  background-color: #f7f7f6;
  overflow-x: hidden;
  overflow-y: scroll; }

body {
  min-height: 100%;
  font-family: "Montserrat", arial !important;
  padding-bottom: 9rem;
  position: relative;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg height='135' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='135' fill='rgba(40, 51, 74, 0.51)' /%3E%3C/svg%3E");
  background-repeat: no-repeat; }

a:link, a:visited {
  color: #5ac5cb; }

footer {
  padding-top: 2rem;
  padding-bottom: 0.2rem;
  font-size: calc(1.2em - 0.5em);
  background-color: #222222;
  height: 10em;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute; }
  footer p {
    margin-bottom: 0.2rem; }
  footer a {
    font-size: calc(1.2em - 0.2em); }

header .row {
  padding-top: 0;
  padding-left: 0; }

div[role=main] {
  padding-top: 0.85rem; }

.row {
  padding: 0.25rem; }

@media screen and (max-width: 480px) {
  .container-fluid {
    margin-left: 0;
    margin-right: 0; }
  .container-fluid > .row {
    padding-left: 0;
    padding-right: 0; } }

.logo-box {
  box-shadow:  0 0.2em 1em rgba(0, 0, 0, 0.29), 0 calc(0.2em + 0.2em) calc(1em / 2) rgba(0, 0, 0, calc(0.29 + 0.05));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(1rem + 0.2rem);
  padding-right: calc(1rem + 0.2rem);
  background: #ffffff no-repeat center center;
  background-size: contain;
  box-sizing: border-box;
  height: 6.0em;
  margin-top: calc(0.2rem + 0.12rem);
  margin-bottom: calc(0.2rem + 0.05rem);
  left: -25em;
  -o-animation: logoBoxLoad 500ms ease-in 500ms 1 forwards;
  -moz-animation: logoBoxLoad 500ms ease-in 500ms 1 forwards;
  -webkit-animation: logoBoxLoad 500ms ease-in 500ms 1 forwards;
  animation: logoBoxLoad 500ms ease-in 500ms 1 forwards; }
  @media screen and (min-width: 1400px) {
    .logo-box {
      background-size: unset; } }

.panel {
  box-shadow:  0 0.2em 1em rgba(0, 0, 0, 0.19), 0 calc(0.2em + 0.2em) calc(1em / 2) rgba(0, 0, 0, calc(0.19 + 0.05));
  font-size: calc(1.2em - 0.5em);
  background-color: #ffffff;
  border-radius: 4px;
  padding-left: 0;
  padding-right: 0; }
  .panel .main-title {
    background-color: #222222;
    padding-top: calc(0.85rem - 0.2rem);
    padding-bottom: calc(0.85rem - 0.2rem);
    padding-left: calc(0.85rem / 2);
    padding-right: calc(0.85rem / 2);
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.9rem;
    border-radius: 4px 4px 0 0;
    font-size: calc(1.2em + 0.55em); }
    .panel .main-title a {
      font-size: inherit; }
  .panel .panel-body p {
    margin-bottom: 0.2rem; }
  .panel hr {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem; }

.panel-swbc-blue {
  border: #161c29 calc(1px * 2) solid;
  background-color: #28334a;
  color: #ffffff;
  font-size: calc(1.2em - 0.5em); }
  .panel-swbc-blue .card {
    color: #000000;
    font-size: inherit;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    line-height: 2em; }
    .panel-swbc-blue .card .card-body {
      padding: inherit;
      color: inherit; }
      .panel-swbc-blue .card .card-body svg {
        color: #9e007e; }
  .panel-swbc-blue .swbc-panel-title {
    width: 100%;
    background-color: #222222;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: calc(1rem / 2);
    padding-right: calc(1rem / 2);
    font-size: calc(1.2em + 0.5em); }
    .panel-swbc-blue .swbc-panel-title h2 {
      font-size: inherit; }
    .panel-swbc-blue .swbc-panel-title strong {
      border-bottom: #5ac5cb 1px solid; }
      .panel-swbc-blue .swbc-panel-title strong .thinner {
        font-weight: 300; }
    .panel-swbc-blue .swbc-panel-title .small {
      color: #5ac5cb; }
  .panel-swbc-blue .disclaimer {
    background-color: #d3d3ce;
    color: #000000;
    font-size: calc(1.2em + 0.2em);
    padding: 0.7rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem; }

.panel-swbc-blue-outline {
  border: #161c29 calc(1px * 2) solid;
  background-color: rgba(40, 51, 74, 0.2);
  color: #ffffff;
  font-size: calc(1.2em - 0.5em); }
  .panel-swbc-blue-outline .swbc-panel-title {
    width: 100%;
    background-color: #5ac5cb;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: calc(1rem / 2);
    padding-right: calc(1rem / 2);
    font-size: calc(1.2em + 0.5em); }
    .panel-swbc-blue-outline .swbc-panel-title h2 {
      font-size: inherit; }
    .panel-swbc-blue-outline .swbc-panel-title strong {
      border-bottom: #000000 1px solid; }
      .panel-swbc-blue-outline .swbc-panel-title strong .thinner {
        font-weight: 300; }
    .panel-swbc-blue-outline .swbc-panel-title .small {
      color: #000000; }

.important-text {
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: calc(0.7rem);
  border-left-width: calc(1px * 8);
  border-left-style: solid;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-right: solid 1px #000000;
  font-size: calc(1.2em + 0.1em); }
  .important-text a {
    margin-top: 2px; }
  .important-text.important-text-plum {
    border-left-color: #9e007e; }
  .important-text.important-text-aqua {
    border-left-color: #9e007e; }

.important-section {
  box-shadow:  0 0.2em 1em rgba(0, 0, 0, 0.19), 0 calc(0.2em + 0.2em) calc(1em / 2) rgba(0, 0, 0, calc(0.19 + 0.05)); }
  .important-section .section-body {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .important-section .section-title {
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #ffffff;
    font-size: calc(1.2em + 0.3em);
    font-weight: 600; }
  .important-section.important-section-plum {
    background-color: #9e007e; }
  .important-section.important-section-aqua {
    background-color: rgba(90, 197, 203, 0.5); }

a.login-pane-selector {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ffffff;
  background-color: #5ac5cb;
  font-size: calc(1.2em + 0.2em);
  -webkit-transition-property: background-color color box-shadow;
  -webkit-transition-duration: 200ms;
  -webkit-transition-delay: 0ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color color box-shadow;
  -moz-transition-duration: 200ms;
  -moz-transition-delay: 0ms;
  -moz-transition-timing-function: linear;
  transition-property: background-color color box-shadow;
  transition-duration: 200ms;
  transition-delay: 0ms;
  transition-timing-function: linear; }
  a.login-pane-selector:not(:first-child) {
    box-shadow: inset 0.3em -0.2em 0.43em rgba(0, 0, 0, 0.3), 0.3em calc(-0.2em + 0.2em) calc(0.43em / 2) rgba(0, 0, 0, calc(0.3 + 0.05)); }
  a.login-pane-selector:first-child {
    box-shadow: inset 0.3em -0.2em 0.43em rgba(0, 0, 0, 0.3), 0.3em calc(-0.2em + 0.2em) calc(0.43em / 2) rgba(0, 0, 0, calc(0.3 + 0.05)); }
  a.login-pane-selector:active, a.login-pane-selector:hover, a.login-pane-selector:visited {
    color: #ffffff;
    text-decoration: none; }
  a.login-pane-selector:hover, a.login-pane-selector:focus, a.login-pane-selector:active {
    background-color: #47bec5; }
  a.login-pane-selector:hover:active {
    background-color: #3cb9c0; }
  a.login-pane-selector.active {
    box-shadow: none;
    background-color: #ffffff;
    color: #47bec5;
    cursor: default;
    pointer-events: none; }
    a.login-pane-selector.active:not(:first-child) {
      border-left-color: rgba(0, 0, 0, 0.8);
      border-left-style: inset;
      border-left-width: calc(1px * 3); }
    a.login-pane-selector.active:first-child {
      border-right-color: rgba(0, 0, 0, 0.8);
      border-right-style: inset;
      border-right-width: calc(1px * 3); }
    a.login-pane-selector.active:focus, a.login-pane-selector.active:hover, a.login-pane-selector.active:active, a.login-pane-selector.active:visited {
      box-shadow: none; }

.form-group {
  margin-bottom: calc(0.2rem + 0.2rem);
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  height: 5.3em;
  color: #000000; }
  .form-group.unset-height {
    height: unset; }
  .form-group .input-label {
    position: relative;
    pointer-events: none;
    line-height: 1em;
    left: 0.5em;
    bottom: 2.2em;
    color: #9e007e;
    font-size: calc(1.2em + 0.5em);
    -webkit-transition-property: line-height, bottom, left, color, font-weight, font-size;
    -webkit-transition-duration: 200ms;
    -webkit-transition-delay: 0s, 10ms, 10ms, 10ms, 10ms, 20ms;
    -webkit-transition-timing-function: linear;
    -moz-transition-property: line-height, bottom, left, color, font-weight, font-size;
    -moz-transition-duration: 200ms;
    -moz-transition-delay: 0s, 10ms, 10ms, 10ms, 10ms, 20ms;
    -moz-transition-timing-function: linear;
    transition-property: line-height, bottom, left, color, font-weight, font-size;
    transition-duration: 200ms;
    transition-delay: 0s, 10ms, 10ms, 10ms, 10ms, 20ms;
    transition-timing-function: linear; }
    .form-group .input-label ~ span > svg {
      position: relative;
      font-size: calc(1.2em + 0.1em);
      bottom: 2.2em;
      right: 0.5em; }
  .form-group .form-check {
    font-size: calc(1.2em + 0.2em);
    margin-left: calc(0.2rem + 0.1rem); }
    .form-group .form-check input[type=radio] {
      height: 1.1em;
      width: 1.1em; }
    .form-group .form-check .form-check-label {
      margin-top: calc(0.2rem - 0.1rem); }

input.form-control, input.form-control:focus {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  box-shadow: none;
  color: #000000;
  border-radius: 0;
  -webkit-transition-property: border-bottom-width;
  -webkit-transition-duration: 300ms;
  -webkit-transition-delay: 0ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: border-bottom-width;
  -moz-transition-duration: 300ms;
  -moz-transition-delay: 0ms;
  -moz-transition-timing-function: linear;
  transition-property: border-bottom-width;
  transition-duration: 300ms;
  transition-delay: 0ms;
  transition-timing-function: linear; }
  input.form-control:focus {
    border-bottom-width: calc(1px * 2);
    border-bottom-color: #9e007e; }
    input.form-control:focus ~ .input-label {
      line-height: 1.475em;
      left: 0.2em;
      bottom: 4.8em;
      color: #000000;
      font-size: calc(1.2em + 0.05em); }
  input.form-control.valid:not(:focus) ~ .input-label {
    line-height: 1.475em;
    left: 0.2em;
    bottom: 4.8em;
    color: #000000;
    font-size: calc(1.2em + 0.05em); }
  input.form-control.input-validation-error.not-empty:not(:focus) {
    background-color: rgba(255, 0, 0, 0.05); }
    input.form-control.input-validation-error.not-empty:not(:focus) ~ .input-label {
      line-height: 1.475em;
      left: 0.2em;
      bottom: 4.8em;
      color: #000000;
      font-size: calc(1.2em + 0.05em); }
  input.input-validation-error.not-empty.form-control:focus {
    color: red; }

.error-summary {
  border-left: red calc(1px * 5) solid;
  background-color: rgba(255, 0, 0, 0.05);
  color: red;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: calc(1.2em + 0.1em);
  margin-bottom: calc(0.2rem + 0.5rem); }
  .error-summary ul {
    margin-bottom: unset; }

.btn-swbc-plum {
  background-color: #9e007e;
  color: #ffffff;
  border-color: #6b0055;
  font-size: calc(1.2em + 0.3em);
  display: inline-block;
  float: right; }
  @media screen and (max-width: 480px) {
    .btn-swbc-plum {
      display: block;
      width: 100%; } }
  .btn-swbc-plum:hover, .btn-swbc-plum:focus, .btn-swbc-plum:active {
    background-color: #85006a;
    color: #ffffff; }
  .btn-swbc-plum:hover:active {
    background-color: #75005d;
    color: #ffffff; }

#insuranceStatus {
  font-size: calc(1.2em + 0.8em);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 0.2rem; }
  #insuranceStatus .explaination {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: calc(1.2em - 0.4em);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: calc(1rem + 0.3rem);
    padding-bottom: calc(1rem + 0.3rem); }
  #insuranceStatus.bad {
    background-color: #FF7F00;
    color: #ffffff; }
  #insuranceStatus.neutral {
    background-color: #778899;
    color: #000000; }

@-moz-keyframes logoBoxLoad {
  from {
    left: -25em; }
  to {
    left: 0; } }

@-webkit-keyframes logoBoxLoad {
  from {
    left: -25em; }
  to {
    left: 0; } }

@-o-keyframes logoBoxLoad {
  from {
    left: -25em; }
  to {
    left: 0; } }

@keyframes logoBoxLoad {
  from {
    left: -25em; }
  to {
    left: 0; } }

.tooltip-inner {
  border: #cc0000 calc(1px * 2) solid;
  font-size: calc(1.2em - 0.4em); }

/*# sourceMappingURL=site.css.map */
