﻿@model SWBC.ImCovered.Models.MultipleAccountDocumentUploadModel

@{
    ViewBag.Title = "Welcome";
    Layout = "_dashboardLayout";
}

@section scripts {
    <script>
        let dataLoader = new DataLoader();
        //load the page data
    </script>
}

<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-5 panel-swbc-blue clearfix">

    </div>
    <div class="col-lg-6 col-sm-7 panel-swbc-blue-outline clearfix">

    </div>
</div>

