﻿@model string

@{
    ViewBag.Title = "Welcome";
    Layout = "_dashboardLayout";
}

@section scripts {
    <script>
        let dataLoader = new DataLoader();
        //load the page data
        dataLoader.dashboardData(
            "@Url.Action(
                "GetCustomerInfo",
                "Policy",
                new { pUid = Model })");
    </script>
}

<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-5 panel-swbc-blue clearfix">
        <div class="row">
            <h2 class="swbc-panel-title">
                <span class="small">Hi there,&nbsp;</span>
                <strong class="text-uppercase" data-bind="text: firstName"></strong>!
            </h2>
        </div>
        <div class="row">
            <div class="col-12 panel">
                <div class="panel-body">
                    <p>
                        @Dashboard.InsuranceStatusLabel
                    </p>
                    <div id="insuranceStatus"
                         data-bind="class: insuranceStatusClass"
                         class="text-uppercase">
                        <i data-bind="class: displayUploadOnly"
                           class="fas fa-clock"></i>&nbsp;
                            <span data-bind="text: insuranceStatus"></span>
                        <div class="explaination">
                            <span data-bind="text: friendlyStatus"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-7 panel-swbc-blue-outline clearfix">
        <div class="row">
            <h2 class="swbc-panel-title">
                <i class="fas fa-wrench"></i>&nbsp;
                <span class="small">Let's get that&nbsp;</span>
                <strong class="text-uppercase">fixed</strong>!
            </h2>
            <div class="col-12 panel">
                <div class="panel-body">
                    <p class="text-center">Do you want to:</p>
                    <button type="button"
                            class="btn btn-lg btn-swbc-blue col-md-5 col-md-offset-1 col-sm-6 col-12 d-none"
                            data-action="action-collapse"
                            data-parent="#availableCustomerActions"
                            data-target="#updatePolicy">
                        <i class="fas fa-file-upload"></i>&nbsp;
                        Update Policy
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-swbc-blue col-md-5 col-sm-6 col-12 d-none"
                            data-action="action-collapse"
                            data-parent="#availableCustomerActions"
                            data-target="#otherActions">
                        Other Actions
                        <i class="fas fa-caret-down"></i>&nbsp;
                    </button>
                </div>
                <div id="availableCustomerActions"
                     class="panel-group">
                    <div id="updatePolicy"
                         class="panel panel-collapse collapse">
                        Update Policy Here!!!
                    </div>
                    <div id="otherActions"
                         class="panel panel-collapse collapse">
                        Other Actions Here!!!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

