﻿@model SWBC.ImCovered.Models.LoginModel
@{
    ViewBag.Title = "Welcome";
    Layout = "_layout";
}

@section scripts {
    <script>
        let dataLoader = new DataLoader();
        //load the page data
        dataLoader.loginData(@Model.GetJson());
    </script>
}

<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 panel-swbc-blue clearfix">
        <div class="row">
            <h2 class="swbc-panel-title">
                <span class="small">@Policy.ThankYouForVisiting</span>
                <strong>IMCOVERED<span class="thinner">.COM</span></strong>
            </h2>
            <div class="card col-12">
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-exclamation-circle fa-2x fa-pull-left"></i>
                        @Policy.LetterFromUs
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 panel">
                <div class="d-flex justify-content-center"
                     role="group">
                    <a href="#"
                       data-bind="class: uidTabIsActive, click: setUidTabActive"
                       class="login-pane-selector flex-fill"
                       aria-selected="true"
                       data-header-text="@Policy.ViewDetailInfo"
                       data-link-text="@Policy.HaveUniqueId"
                       title="@Policy.ViewDetailInfo">
                        @Policy.ViewDetailInfo
                    </a>
                    <a href="#"
                       data-bind="class: noUidTabIsActive, click: setNoUidTabActive"
                       class="login-pane-selector flex-fill"
                       aria-selected="false"
                       data-header-text="@Policy.UploadDocuments"
                       data-link-text="@Policy.HaveNoUniqueId"
                       title="@Policy.UploadDocuments">
                        @Policy.HaveNoUniqueId
                    </a>
                </div>
                <h4 class="main-title">
                    @Policy.LetsGetStarted
                    <a href="#"
                       title="@Policy.NeedHelp"
                       aria-label="@Policy.NeedHelp"
                       class="float-right">
                        <i class="fas fa-question-circle"
                           data-fa-transform="left-6"></i>@Policy.NeedHelp
                    </a>
                </h4>
                <div class="panel-body">
                    @await Component.InvokeAsync("UidLoginComponent")
                    @await Component.InvokeAsync("DocumentUploadComponent")
                    <p class="small disclaimer">
                        <span data-bind="text: errorsPresent"></span>
                        @Policy.UidDisclaimer
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

