<div class="error-summary">
    <ul class="fa-ul"
        data-bind="foreach: errorArray">
        <li>
            <span class="fa-li">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span data-bind="text: $data"></span>
        </li>
    </ul>
</div>