<label data-bind="attr: { for: inputId }, text: inputLabel"
       class="sr-only">
</label>
<input type="text"
       class="form-control"
       data-bind="textInput: inputValue, attr: inputAttr, class: isInputValid" />
<span class="input-label"
      data-bind="text: inputLabel">
</span>
<span class="text-danger fas fa-asterisk fa-pull-right require"
      data-toggle="tooltip"
      data-bind="attr: { title: requiredErrorMessage }, class: isEmpty"></span>
<span class="text-danger fas fa-exclamation-circle fa-pull-right invalid"
      data-toggle="tooltip"
      data-bind="attr: { title: invalidErrorMessage }, class: isInvalid"></span>